<div class="container">

  <div class="row mb-3">
    <div class="col-12">
      <button class="btn btn-info mx-2" routerLink="../">Back ("../")</button>
      <button class="btn btn-info mx-2" (click)="onRouterNavigateBack()">Back (Router Navigate)</button>
      <button class="btn btn-danger mx-2" (click)="onLocationBack()">Back (this.location.back())</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <div class="card">
        <img class="card-img-top" *ngIf="item?.imageUrl" [src]="item?.imageUrl" alt="Card image cap" height="100">
        <div class="card-body">
          <h5 class="card-title"> Title</h5>
          <h5 class="card-title"> {{item?.name}}</h5>
          <p class="card-text">
            {{item?.description}}
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</!-->
        </div>
      </div>

    </div>
  </div>

</div>
