<div class="container">

  <div class="row mb-2">
    <div class="col-6">
      <input [(ngModel)]="newTaskText">
      <button class="btn btn-info ml-1" (click)="onAddNewTask(newTaskText)">Add</button>
    </div>
    <div class="col-6">
      <button class="btn btn-info float-right mx-1" (click)="onToggleDisplay()">Toggle Display</button>
      <button class="btn btn-info float-right" (click)="getTasks()">Refresh</button>
    </div>
  </div>


  <div class="row" *ngIf="displayList">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of tasks; let i = index">
          <div class="row">
            <div class="col-6">
              <p *ngIf="!taskIdsBeingEdited[task.taskId]">{{task.title}}</p>
              <input *ngIf="taskIdsBeingEdited[task.taskId]" [(ngModel)]="task.title">
            </div>
            <div class="col-6">
              <button *ngIf="!taskIdsBeingEdited[task.taskId]" class="btn-danger float-right mx-1"
                (click)="onDeleteTask(task)">X</button>
              <button *ngIf="!taskIdsBeingEdited[task.taskId]" class="btn-info float-right"
                (click)="onStartEditTask(task)">Edit</button>

              <button *ngIf="taskIdsBeingEdited[task.taskId]" class="btn-info float-right"
                (click)="onSaveEditTask(task)">Save</button>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </div>
</div>
